body {
    margin: 0;
    font-family: Open Sans, sans-serif;
}

a {
    text-decoration: none;
    color: #F09217;
}

.container {
    scroll-snap-type: y mandatory;
    max-height: 100vh;
    overflow-y: scroll;
}

.child {
    scroll-snap-align: start;
}

.scroll {
    font-size: 30px;
    position: fixed;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}

.scroll i {
    color: #F09217;
    opacity: 0.2;
    transition: 0.2s;
}

.scroll i:hover {
    color: #F09217;
    opacity: 1;
}

#header {
    background-image:url('/img/Header-Img.png');
    position: relative;
    background-size: 130%;
    background-repeat: no-repeat;
    background-position: 0 0;
    min-height: 100vh;
}

.navbar {
    width: 91vw;
    margin-left: 6em;
    margin-top: 3em;
    padding: 2.2rem 0;
    display: inline-block;
}

a {
    display: inline-block;
}

.header-text-container {
    margin-left: 6em;
}

h1 {
    color: black;
    font-family: EB Garamond, serif;
    display: block;
    font-size: 35px;
}

#services-heading {
    color: black;
}

p {
    color: black;
    letter-spacing: 0.2px;
    margin-top: 2rem;
}

.btn {
    border-radius: 0.5rem;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0px 4px 10px lightgray;
}

.btn:hover {
    border: 0.2rem solid #F09217;
    background-color: transparent;
    color: black;
}

.btn:active {
    background-color: #805318;
    color: white;
    outline: none;
}

.btn:focus {
    outline: none;
}

.btn-primary {
    width: 300px;
    height: 60px;
    background-color: #F09217;
    border: 0.2rem solid transparent;
    color: white;
    font-size: 20px;
    margin-top: 2.5rem;
}

#information {
    background-color: white;
    display: flex;
    flex-direction: column;
    position: relative;
    background-size: 130%;
    background-repeat: no-repeat;
    background-position: 0 0;
    min-height: 100vh;
}

.hyphen {
    color: #F09217;
    margin-right: 3em;
    font-weight: 800;
}

.section-heading {
    display: inline;
    letter-spacing: 0.5px;
    /* margin-left: 6em;
    margin-right: 6em;
    margin-top: 3em; */
    font-size: 20px;
    font-weight: 600;
}

#about-us {
    background-color: #323232;
    height: 30vh;
}

#about-heading {
    display: inline;
    text-align: left;
    color: white;
}

#about-info-section {
    display: flex;
    align-items: flex-start;
    text-align: right;
    font-size: large;
}

#about-info-section li {
    color: white;
}

.info-ul {
    position: relative;
    left: 42rem;
    /* padding-left: 45rem; */
}

/* li {
    list-style-image: url("/img/star-fill.svg");
    list-style-position: inside;
} */

ul {
    list-style: none;
}

li {
    letter-spacing: 0.2px;
    text-align: top;
    font-weight: 300;
}

li::before {
    content: "★ ";
    color: #F09217;
}

#services {
    height: 70vh;
    background-color: white;
    background-image: linear-gradient(to top, #dedede 0%, #f0f0f0 100%);
}

.service-menu {
    margin-left: 1.7em;
    padding-top: 3em;
}

.service-li-item {
    padding: 1.5em;
    font-weight: 600;
}

.service-li-item:hover {
    color: white;
    background-color: #F09217;
    background: linear-gradient(to right, #ffa42d, transparent);
    width: 300px;
    border-radius: 5px;
}

li:hover::before {
    color: white;
}

.service-box {
    width: 693px;
    height: 396px;
    border: 0.5px solid rgb(194, 194, 194);
    border-radius: 5px;
    position: relative;
    left: 500px;
    bottom: 375px;
}

.service-p {
    position: relative;
    top: 40px;
    padding-left: 3em;
}

.service-img {
    padding-bottom: 1em;
    position: relative;
    left: 450px;
    bottom: 230px;
}

.header-padding {
    margin-left: 6em;
    margin-top: 3em;
}

.list-padding {
    margin-right: 6em;
}

#coupons {
    background-color: #323232;
    position: relative;
    background-size: 130%;
    background-repeat: no-repeat;
    background-position: 0 0;
    min-height: 50vh;
}

#coupon-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 50vh;
}

.coupon-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgb(33, 33, 33);
    background-repeat: no-repeat;
    background-size: 250px 250px;
}

.coupon-text-container {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    background-color: black;
    /* opacity: 0.8; */
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: -25px;
}

.coupon-text-container p {
    color: white;
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
}

.btn-coupon {
    width: 200px;
    height: 75px;
    font-size: 1em;
    box-shadow: none;
    margin-bottom: 50px;
}

.btn-coupon:hover {
    background-color: black;
    color: white;
}

.btn-coupon:active {
    background-color: #ffd49b;
    color: black;
}

#brands-container {
    min-height: 100vh;
    background-image: linear-gradient(to top, #dedede 0%, #f0f0f0 100%);
    position: relative;
    background-size: 130%;
    background-repeat: no-repeat;
    background-position: 0 0;
    display: flex;
}

#brands-img-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 3em;
    padding-right: 3em;
}

.brands-logo {
    width: 150px;
    height: 125px;
    transition: 0.2s;
}

.brands-logo:hover {
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 4px 10px lightgray;
}

.d-flex {
    display: flex!important;
}

.flex-column {
    flex-direction: column!important;
}

.pl-0 {
    padding-left: 0!important;
}

.pr-0 {
    padding-right: 0!important;
}

.black-bg {
    color: white!important;
    background-color: black;
}

.position-relative {
    position: relative!important;
}

.align-items-start {
    align-items: flex-start!important;
}

.h-100 {
    height: 100px!important;
}

.px-md-2 {
    padding-right: .5rem!important;
}

.pb-lg-5 {
    padding-bottom: 3rem!important;
}